
<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->


    <!-- Main Site -->
    <main id="site-main">
        <div class="container">
            <div class="box-nav d-flex justify-between">
            </div>
            <div><p> Vorname, Nachname: <%- users[0].user_id.Vorname %> <%- users[0].user_id.Nachname %></p>
                <br>
                <p> E-Mail: <%- users[0].user_id.email %> %>
            </div>
            <!-- form handling -->
            <form action="/" method="POST">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>ID</th>
                            <th>Ergebnis</th>
                            <th>Datum und Uhrzeit</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%- include('include/_ergebnisse') %>
                    </tbody>
                </table>
            </form>
        </div>
    </main>
<!-- /Main Site -->


<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->